# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


portfolio/node_modules
portfolio/.DS_Store
portfolio/dist
portfolio/dist-ssr
portfolio/*.local
portfolio/.env
portfolio/.nitro
portfolio/.tanstack
portfolio/.wrangler
portfolio/.output
portfolio/.vinxi
portfolio/__unconfig*
portfolio/todos.json
