@tailwind base;
@tailwind components;
@tailwind utilities;
.header-internal {
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
}

.header-scrolled .header-internal {
  background: rgba(156, 156, 156, 0.2) !important;
  backdrop-filter: blur(6px);
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.elementor-sticky--effects .header-internal {
  background: rgba(156, 156, 156, 0.2) !important;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 30px;
}

@media (max-width: 767px) {
  .elementor-sticky--effects .header-internal {
    background: rgba(255, 255, 255, 0.3) !important;
  }
}

/* Ensure text is always visible and looks good */
.header-internal a, 
.header-internal span {
  font-weight: 600;
}

/* Hover effect */
.header-internal a:hover, 
.header-internal span:hover {
  color: #4f46e5 !important; /* Light indigo color */
}


@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  75% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

.text-wrapper {
  height: 50px;
  overflow: hidden;
}

.text-animation {
  position: relative;
  animation: slide 8s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.text-item {
  height: 50px;
  line-height: 50px;
}

/* In your index.css or App.css file */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}